<div class="row mt-3 text-center mx-auto">
    <div class="col-lg-6 mx-auto">
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12 col-sm-12" *ngIf="nombreUsuario!=undefined">
        <h2 id="texto-hola">
            ¡Hola {{nombreUsuario}}!
        </h2>
        <span id="texto-pregunta">
            ¿Que Necesitas?
        </span>
    </div>
</div>
<div id="contenedor-categorias" class="row mb-3">
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2" *ngFor="let categoria of categorias ">
        <div class="card-item card" style=" background-color: {{categoria.color}}" (click)="infoCategorias(categoria._id,modalInfoCategoria)">
            <div class="row">
                <div class="col mx-auto text-center m-3">
                    <img src="../../{{categoria.icono}}" alt="" style="width: 100%;">
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row m-3 mt-4">
                <section class="col">
                    <h3 class="text-white font-weight-bolder">{{categoria.nombreCategoria}}</h3>
                    <p class="text-white" style="font-size: 13px;">
                        3 Comercios
                    </p>
                </section>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <div class="card-item card" style="background: #FFA8AA;" onclick="infoCategorias(1)">
            <div class="row">
                <div class="col mx-auto text-center m-3" style="padding-left: 20px;">
                    <img src="../../../assets/images/test.png" alt="" style="width: 100%;">
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row m-3 mt-4">
                <section class="col">
                    <h3 class="text-white font-weight-bolder">Restaurantes</h3>
                    <p class="text-white" style="font-size: 13px;">
                        3 Comercios
                    </p>
                </section>
            </div>
        </div>
    </div> -->
</div>
<!-- Venta modal información de las app -->
<ng-template #modalInfoCategoria let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> {{nombreCategoria}}</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <div id="zona-categorias" *ngIf="nombreUsuario!=undefined" class="modal-body row">
            <div class="col-lg-6 col-sm-12 mt-2" *ngFor="let empresa of empresaCategorias">
                <div class="card" style="border-radius:12px">
                    <section>
                        <img src="../../../assets/img/banner.jpg" class="img-fluid" style="border-radius: 12px">
                        <h3 style="color: #D09145; font-weight:bolder;font-size: xx-large;padding-left: 10px;">{{empresa.nombreEmpresa}}</h3>
                    </section>
                    <section class="p-3" *ngFor="let producto of empresa.productos">
                        
                        <div class="row p-2">
                            <div class="col-lg-7">
                                <h4 style="color:#563D7C;">{{producto.nombreProducto}}</h4>
                            </div>
                            <div class="col-lg-5">
                                <input type="button" class="btn btn-secondary" (click)="pedir(modalPedirProd,producto.nombreProducto,producto.descripcion,producto.precio)" value="Pedir">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <p>{{producto.descripcion}}</p>
                            </div>
                            <div class="col-lg-4 ml-auto">
                                <b>$ {{producto.precio}}</b>
                            </div>
                        </div>
                
                    </section>
                </div>
            </div>
        </div>
        <div *ngIf="nombreUsuario==undefined">
            <h1>Seleccione un usuario</h1>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrrar')">Close</button>
    </div>
</ng-template>
<ng-template #modalPedirProd let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Agregar Pedido</h4>
    </div>
    <div class="modal-body">
        <h3>{{empresaNombreProducto}}</h3>
        <br>
        <p>{{empresaDescripcion}}</p>
        <br>
        <div class="row">
            <div class="col-lg-6">
                Cantidad A Solicitar : 
            </div>
            <div class="col-lg-6">
                <input type="number" [(ngModel)]="empresaCantidad" name="cantidad" class="form-control" id="txt-cantidad">    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 mr-auto">
                
            </div>
            <div class="col-lg-3"><br>
            <b>$ {{empresaPrecio}}</b>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ProcesarOrden()">Procesar Orden</button>
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrrar')">Close</button>
    </div>
</ng-template>